body {
    background-color:dimgrey; 
    font-family: Arial, sans-serif; 
}
h1{
    color:aqua;
    text-align: center;
}
p{
    font-size: 40px;
    font-family: monospace;
}
div pre{
    text-align: center;
    font-family: sans-serif;
    color:navy;
    background-color:lightgoldenrodyellow;
    margin-left: 27%;
    margin-right: 27%;
}
image{
    text-align: center;
}
a:hover {
    color: #ff0000;
    font-size: 40px;
}
/* Se puede cambiar el letter por line para que sea solo la primera linea */
p::first-letter {
    color: #ff0000;
    font-size: 60px;
}
