.video {
    width: 50%;
    margin: 0 auto;
  }
  
  .mugshots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .mugshots img {
    margin: 0 10px;
    width: 200px;
    height: auto;
  }